@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: write;
  font-family: "Big Shoulders Display", cursive;
  font-size: 15px;
}

